In [1]:
import pandas as pd
import numpy as np

In [2]:
goto = pd.read_csv('goto.csv')
goto

,STATE,START,PROGRAM,STMTS,CODE_BLOCK,STMT,DECL,ASSIGNMENT,CONDITIONAL,ELIF,...,LIST,LITERAL,BOOL_LIT,BIN_OP,ARTM_OP,REL_OP,LOGCL_OP,BIT_OP,SHORT_OP,PREFIX
0,0,NaN,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,13.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,14.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,191.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
grammar = pd.read_csv('rules.csv')
grammar

         LHS                 RHS
0      START             PROGRAM
1    PROGRAM        DECL PROGRAM
2    PROGRAM    FUNCTION PROGRAM
3    PROGRAM                 ''
4      STMTS          STMT STMTS
..        ...                ...
101   PREFIX             OP_INCR
102   PREFIX             OP_DECR
103   PREFIX             OP_BIT4
104   PREFIX           OP_AR_add
105    PREFIX          OP_AR_sub

[106 rows x 2 columns]

In [4]:
lalr = pd.read_csv('lalr.csv')
lalr

,STATE,SYM_P1,SYM_P2,SYM_SEMICOLON,IDENTIFIER,OP_ASSGN,SYM_SB1,SYM_SB2,KEYWD_IF,SYM_B1,...,OP_ASSGN3,OP_ASSGN4,OP_ASSGN5,OP_ASSGN6,OP_ASSGN7,OP_ASSGN8,OP_INCR,OP_DECR,OP_BIT4,$
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,r3
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,acc
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,r3
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,r3
4,4,NaN,NaN,NaN,s15,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,187,r25,r25,NaN,r25,NaN,NaN,NaN,r25,r25,...,NaN,NaN,NaN,NaN,NaN,NaN,r25,r25,r25,NaN
188,188,NaN,r34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,190,NaN,r32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,191,r24,r24,NaN,r24,NaN,NaN,NaN,r24,r24,...,NaN,NaN,NaN,NaN,NaN,NaN,r24,r24,r24,NaN